apimatic-core==0.2.5
apimatic-core-interfaces==0.1.4
apimatic-requests-client-adapter==0.1.6
asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
CacheControl==0.12.14
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
deprecation==2.1.0
Django==4.2.3
djangorestframework==3.14.0
EasyProcess==1.1
entrypoint2==1.1
enum34==1.1.10
et-xmlfile==1.1.0
exceptiongroup==1.1.2
Flask==2.3.2
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpickle==3.0.2
jsonpointer==2.4
MarkupSafe==2.1.3
MouseInfo==0.1.3
msgpack==1.0.7
mss==9.0.1
openpyxl==3.1.2
outcome==1.2.0
packaging==23.2
Pillow==10.0.0
psutil==5.9.5
PyAutoGUI==0.9.54
pycparser==2.21
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
pytweening==1.0.7
pytz==2023.3
pywhatkit==5.4
requests==2.31.0
schedule==1.2.0
selenium==4.11.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
squareup==32.0.0.20231018
trio==0.22.2
trio-websocket==0.10.3
tzdata==2023.3
urllib3==2.0.4
Werkzeug==2.3.6
wikipedia==1.4.0
wsproto==1.2.0
